.contacts {
  position: relative;
  float: right;
  clear: both;
  overflow: hidden;
  transition: margin-right 0.4s ease-in-out;
}
.fa, .fas {
  font-size: 15px;
  font-size: 1vw;
  margin-right: 7px;
  margin-right: 0.5vw;
}