div.contacts.contacts_hidden
  div.contacts__background
  div.contacts__container
    div.contacts__line 
      span.fas.fa-phone
      | 9930 1234 5679
    div.contacts__line
      span.fas.fa-envelope
      | contact@domain.com
    div.contacts__line
      span.fas.fa-home
      | street address example