.filter__link {
  font-size: 14px;
  font-size: 0.92vw;
  color: #1ba2a1;
  text-align: right;
  text-decoration: none;
  padding: 1px 0px 1px 0px;
  display: block;
  transition: 0.3s;
}

.filter__link:hover {
  color: #ffffff;
}