@media (max-width: 1000px){
  .left-bar__toggle {
    background-image: url('static/left-bar/bars.svg');
    width: 30px;
    height: 30px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}