doctype html
html
  head
    block vars
    title #{title}
    link(rel='stylesheet' href= name + '.css')
  body.reset.page
    include /info/info.pug
    block main-menu
      include /left-bar/left-bar.pug 
    div(class= padding ? "content content_padded" : "content")
      block content
    script(language='javascript', src= name + '.js') 