.card__item {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-size: 0.94vw;
  font-weight: 300;
  color: #a3a3a3;
}

.card__item:first-of-type {
  padding-top: 0px;
  border-top: none;
}