.square-thumbs-item__subtitle {
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-size: 0.52em;
  font-weight: 300;
  padding-bottom: 5%;
  line-height: 0.5;
  border-bottom: 1px solid #ffffff;
}