ul.main-menu
  li.main-menu__item
    a.main-menu__link(href='../home/home.html') Home
  li.main-menu__item
    a.main-menu__link(href='../work/work.html') Work
  li.main-menu__item
    a.main-menu__link(href='../about/about.html') About
  li.main-menu__item
    a.main-menu__link(href='../blog/blog.html') Blog
  li.main-menu__item
    a.main-menu__link(href='../work/work.html') Services
  li.main-menu__item
    a.main-menu__link.main-menu__link_last(href='../contact/contact.html') Contact