.card__item-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-size: 1.25vw;
  font-weight: 100;
  color: #000000;
  padding-top: 1.05em;
  padding-bottom: 0.33em;
}

.card__item-title:first-child {
  line-height: 0.6;
  padding-bottom: 0.7em;
}