.blog__more-button {
  position: absolute;
  background-color: #1ab5b3;
  bottom: 0px;
  width: 183px;
  height: 63px;
  width: 9.531vw;
  height: 3.281vw;
  right: 50%;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-size: 1.041vw;
  font-weight: 300;
  margin-right: -4.76vw;
  text-align: center;
  line-height: 3.281vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.blog__more-button:hover {
  background-color: #18a4a2;
}