.social-icons__icon {
  display: inline-block;
  width: 9.7%;
  padding-top: 9.7%;
  margin-left: 5px;
  background-image: url('static/social-icons/icons.png');
  background-repeat: no-repeat;
  background-size: 700%;
}