.social-icons__icon {
  display: inline-block;
  width: 9.4%;
  padding-top: 9.4%;
  margin-left: 2.6%;
  background-image: url(static/social-icons/icons.png);
  background-repeat: no-repeat;
  background-size: 700%;
}