.left-bar__label{
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  background-color: #000000;
  padding: 1.56vw;
  padding-right: 9.1vw;
  opacity: 0.8;
  box-sizing: border-box;
  text-align: center;
}