.logo {
  background-color: #FFFFFF;
  background-image: url('static/logo/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-top: 41.667%;
}