.post-quote__author {
  font-family: 'Roboto', sans-serif;
  color: #1ab5b3;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: -0.02em;
  padding-left: 1.7%;
  padding-top: 7.23%;
  line-height: 0.2;
}