mixin post-complex(title, description)
  div.post-complex
    div.post-complex__media.post-complex__media_size_medium
    div.post-complex__info 
      div.post-complex__title= title
      div.post-complex__description= description
    div.post-complex__delimeter
    div.post-complex__footer             
      div.post-complex__footer-item
        span.post-complex__footer-icon.fas.fa-comment
        | 3 comments
      div.post-complex__footer-item
        span.post-complex__footer-icon.fas.fa-calendar-alt
        | Dec 19, 2013