//-
  mixins
include /post-link/post-link.mixin.pug
include /post-complex/post-complex.mixin.pug

doctype html
html
  include /head/head.pug
  +head('Kappe - Blog', 'blog.css')
  body.reset.page
  include /info/info.pug
  include /left-bar/left-bar.pug
  div.content
    div.blog
      div.blog-post
        +post-complex('Gallery Post Example', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who')
      div.blog-post
        +post-link('Another Post where you can put a link to a specific website', '#', 'http://www.themeforest.net')
      div.blog-post
        div.post-image.back-image(data-img='static/back-image/starbucks.jpeg')
      div.blog-post
        div.post-quote
          div.post-quote__text Logic will get you from A to B. Imagination will take you everywhere.
          div.post-quote__quote-icon 
          div.post-quote__author Albert Einstein
  script(language='javascript', src='blog.js')
          