//-
  mixins
include /post-link/post-link.mixin.pug
include /post-complex/post-complex.mixin.pug
include /post-image/post-image.mixin.pug
include /post-aside/post-aside.mixin.pug
include /post-quote/post-quote.mixin.pug

doctype html
html
  include /head/head.pug
  +head('Kappe - Blog', 'blog.css')
  body.reset.page
  include /info/info.pug
  include /left-bar/left-bar.pug
  div.content
    div.blog
      div.blog-post
        +post-complex('Gallery Post Example', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who', 'slider', ['static/image-slider/1.jpeg', 'static/image-slider/2.jpeg', 'static/image-slider/3.jpeg'], 'large')        
      div.blog-post
        +post-image('static/image/2.jpeg', true)
      div.blog-post
        +post-link('Another Post where you can put a link to a specific website', '#', 'http://www.themeforest.net')
      div.blog-post
        +post-link('Another Post where you can put a link to a specific website', '#', 'http://www.themeforest.net')
      div.blog-post
        +post-complex('Self-hosted video post', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who', 'video', 'static/post-complex/dreaming_cat.mp4')     
      div.blog-post
        +post-complex('Standart post format', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who', 'image', 'static/image/2.jpeg')
      div.blog-post
        +post-image('static/image/0.jpeg')
      div.blog-post
        +post-complex('Standart post format', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who', 'image', 'static/image/1.jpeg')
      div.blog-post
        +post-aside('Aside Post Format', 'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,')
      div.blog-post
        +post-quote('Logic will get you from A to B. Imagination will take you everywhere.', 'Albert Einstein')
      div.blog-post
        +post-complex('Standart post format', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who', 'image', 'static/image/3.jpg')
      div.blog-post
        +post-complex('Self-hosted video post', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who', 'video', 'static/post-complex/dreaming_cat.mp4')
      div.blog-post
        +post-complex('Gallery Post Example', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who', 'slider', ['static/image-slider/1.jpeg', 'static/image-slider/2.jpeg', 'static/image-slider/3.jpeg'], 'large')
      div.blog-post
        +post-complex('Standart post format', 'A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who', 'image', 'static/image/4.jpeg')
      div.blog__more-button OLDER POSTS
  script(language='javascript', src='blog.js')
          