div.left-bar
  div.logo
  ul.main-menu
    li.main-menu__item
      a.main-menu__link(href='#') Home
    li.main-menu__item
      a.main-menu__link(href='#') Work
    li.main-menu__item
      a.main-menu__link(href='#') About
    li.main-menu__item
      a.main-menu__link(href='#') Blog
    li.main-menu__item
      a.main-menu__link(href='#') Services
    li.main-menu__item
      a.main-menu__link.main-menu__link_last(href='#') Contact
  div.filter
    a.filter__link.filter__link_display-icon(href='#') Filter
    ul.filter-menu
      li.filter-menu__item
        a.filter-menu__link(href='#') All Works
      li.filter-menu__item
        a.filter-menu__link(href='#') web design
      li.filter-menu__item
        a.filter-menu__link(href='#') illustration
      li.filter-menu__item
        a.filter-menu__link(href='#') photography
      li.filter-menu__item
        a.filter-menu__link(href='#') wallpapers
      li.filter-menu__item
        a.filter-menu__link(href='#') brochures
  div.social-icons
    a.social-icons__icon.social-icons__icon_type_1(href="#")
    a.social-icons__icon.social-icons__icon_type_2(href="#")
    a.social-icons__icon.social-icons__icon_type_3(href="#")
    a.social-icons__icon.social-icons__icon_type_4(href="#")
    a.social-icons__icon.social-icons__icon_type_5(href="#")
    a.social-icons__icon.social-icons__icon_type_6(href="#")
    a.social-icons__icon.social-icons__icon_type_7(href="#")
  div.copyright &copy; 2014 Kappe, all rights reserved