extends /page/page.pug

block vars
  - var title = 'Kappe - Contact'
  - var name = 'contact'
  
block content
  iframe.fullpage-map(src="https://yandex.ru/map-widget/v1/-/CBFbYOAscC", allowfullscreen="true")
  div.contact
    div.card
      div.card__item-title.card__item-title_bold Get in touch with us
      div.card__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
      div.card__v-line
      div.card__item-title.card__item-title_high.card__item-title_bold Contact us
      form.comment-form
        div.comment-form__column
          div.comment-form__item.comment-form__item_icon_name
            input.comment-form__input.comment-form__name(placeholder="Name")
          div.comment-form__item.comment-form__item_icon_email
            input.comment-form__input.comment-form__email(placeholder="Email")
          div.comment-form__item.comment-form__item_icon_website
            input.comment-form__input.comment-form__website(placeholder="Website")
        div.comment-form__column
          div.comment-form__item.comment-form__item_high
            textarea.comment-form__input.comment-form__message(placeholder="Message")
          div.comment-form__item
            input.comment-form__submit(type="submit", value="Send message")