.card {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-size: 0.94vw;
  font-weight: 300;
  color: #a3a3a3;
  padding: 1.3vw 1.3vw 1.56vw 1.3vw;
  padding: 25px;
  background-color: #ffffff;
  background-clip: content-box;
}