.arrow-button {
  background-image: url('static/arrow-button/button.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
  border: 1px solid #ffffff;
  border-radius: 100%;
  width: 48.5px;
  height: 48.5px;
  transition: 
    border-color 0.8s,
    background-color 0.4s;
}

.arrow-button:hover {
  border-color: #11615f;
  background-color: #11615fcc;
}