.square-thumbs-item__description {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  height: 0px;
  width: 100%;
  opacity: 0;
  transition: 
    height 0.4s,
    opacity 0.6s;
}

.square-thumbs-item:hover .square-thumbs-item__description {
  opacity: 1;
  height: 100%;
}

@media (max-width: 1600px) {
  .square-thumbs-item__description {
    font-size: 19px;
  }
}